.postad{
    background-image: url('https://localhost:44304/Resources/Images/28804.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}