<nav class="navbar navbar-expand-lg navbar-dark  bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="#">
      <img src="https://localhost:44304/Resources/Images/site_logo.gif" alt="logo" height="40" width="80" srcset="">
      Amigo Cars
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-5">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link active" *ngIf="roleName=='User'"  routerLink="sellcar">Sell a Car</a>
        <a class="nav-link active" routerLink="viewcars">View Cars</a>
        <a class="nav-link " href="#" >Disabled</a>
      </div>
      <div class="navbar-nav ms-auto me-5" *ngIf="!logged">
        <p-button pRipple (click)="showDialog()" data-bs-target="#staticBackdrop" data-bs-toggle="modal" label="Sign In"
          icon="pi pi-users" styleClass="p-button-warning"></p-button>
        <p-button label="Register" routerLink="register" icon="pi pi-users" class="ms-3"
          styleClass="p-button-warning"></p-button>
      </div>
      <div class="dropdown  navbar-nav ms-auto me-5 mx-7" *ngIf="logged">
        <button class="dropbtn bg-transparent border-round" ><img src="{{'https://localhost:44304/'+userImg}}" class="img-fluid border-round " height="40" width="60" alt="" srcset=""> &nbsp; &nbsp;{{fullName}}</button>
        <div class="dropdown-content bg-purple-200 border-round">
          <a routerLink="masterview" *ngIf="roleName=='Admin'">Manage</a>
          <a >View Profile</a>
          <button class="btn btn-info w-9rem" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  style="height: 60rem;" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">

          <div class="col-md-12 col-sm-12 ">
            <app-login ></app-login>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
