<p-toast></p-toast>
<div class="container-fluid master">
    <div class="container">
        <div class="row pt-3">
            <h4 class="text-center text-white">Pending Cars</h4>
            <div class="col-lg-5  form-group col-md-4  col-sm-3">
                <input [(ngModel)]="searchTerm" placeholder="Search for a brand or modal"
                    class="bg-auto font-semibold shadow-3 form-control" type="text" />
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6 mb-5 ms-auto font-semibold">
                <select class="form-control bg-blue-200 font-bold" (change)="getSortedList($event)" name="" id="">
                    <option value="" disabled selected hidden>SORT BY</option>
                    <option value="lth">Price : Low to High</option>
                    <option value="htl">Price : High to Low</option>
                    <option value="nasc">Name : Ascending Order</option>
                    <option value="ndesc">Name : Descending Order</option>
                </select>
            </div>
        </div>
        <table class="table table-bordered border-2 table-primary shadow-3 font-bold">
            <thead>
                <tr>
                    <th>Registration No</th>
                    <th>Brand</th>
                    <th>Year</th>
                    <th>Model</th>
                    <th>Fuel Type</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let car of collection |sort : [sortParam,sortOrder] |search:searchTerm | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{car.registrationNo}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.fuelType}}</td>
                    <td>{{car.price | currency : "INR" : "symbol" : "3.0"}}</td>
                    <td><button (click)="claimCar(car)" class="btn btn-info font-bold">Pay&Claim</button> &nbsp; &nbsp;
                        <button (click)="confirmDelete(car)" class="btn btn-danger font-bold">Decline</button></td>
                </tr>
                <tr *ngIf="collection.length<=0"><td colspan="4">No car to claim at the moment</td></tr>
            </tbody>

        </table>
        <ul class="ms-auto text-gray-800 text-end">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>


        <p-dialog header="Confirm Decline" [(visible)]="visible" [style]="{width: '50vw'}">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4>Are you Sure you want to Delete?</h4>
                </div>

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <button (click)="deleteCar(deletedCar)" class="btn-danger btn font-bold">Confirm</button>
                </div>
            </div>
        </p-dialog>
    </div>
    <div class="container">
        <div class="row pt-3">
            <h4 class="text-center text-white">Claimed Cars</h4>
            <div class="col-lg-5  form-group col-md-4  col-sm-3">
                <input [(ngModel)]="searchClaimed" placeholder="Search for a brand or modal"
                    class="bg-auto font-semibold shadow-3 form-control" type="text" />
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6 mb-5 ms-auto font-semibold">
                <select class="form-control bg-blue-200 font-bold" (change)="getSortedList($event)" name="" id="">
                    <option value="" disabled selected hidden>SORT BY</option>
                    <option value="lth">Price : Low to High</option>
                    <option value="htl">Price : High to Low</option>
                    <option value="nasc">Name : Ascending Order</option>
                    <option value="ndesc">Name : Descending Order</option>
                </select>
            </div>
        </div>
        <table class="table table-bordered border-2 table-primary shadow-3 font-bold">
            <thead>
                <tr>
                    <th>Registration No</th>
                    <th>Brand</th>
                    <th>Year</th>
                    <th>Model</th>
                    <th>Fuel Type</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let car of claimedCars |sort : [sortParam,sortOrder] |search:searchTerm | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{car.registrationNo}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.fuelType}}</td>
                    <td>{{car.price | currency : "INR" : "symbol" : "3.0"}}</td>
                    <td><button (click)="claimCar(car)" class="btn btn-info font-bold">Pay&Claim</button> &nbsp; &nbsp;
                        <button (click)="confirmDelete(car)" class="btn btn-danger font-bold">Decline</button></td>
                </tr>
            </tbody>

        </table>
        <ul class="ms-auto text-gray-800 text-end">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>


        <p-dialog header="Confirm Decline" [(visible)]="visible" [style]="{width: '50vw'}">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4>Are you Sure you want to Delete?</h4>
                </div>

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <button (click)="deleteCar(deletedCar)" class="btn-danger btn font-bold">Confirm</button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
