<p-toast></p-toast>
<div class="container font-bold bg-purple-200">
    <h4 class="text-center">Lets Get Yourself registered</h4>
    <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && OnSubmit(registrationForm.value)"
        novalidate>
        <div class="row justify-content-evenly w-100 align-items-start mt-5">
            <div class="col-lg-4 col-sm-12 col-md-6 mt-2">
                <span class="p-input-icon-left p-float-label">
                    <i class="pi pi-user"></i>
                    <input type="text" formControlName="userName" pInputText class="w-100" />
                    <label htmlFor="username">Username</label>
                </span>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6 mt-1">
                <span class="p-input-icon-left p-float-label">
                    <i class="pi pi-shield"></i>
                    <p-password formControlName="password" class="w-100" [toggleMask]="true"></p-password>
                    <label htmlFor="username">Password</label>
                </span>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6 mt-1">
                <span class="p-input-icon-left p-float-label">
                    <i class="pi pi-at"></i>
                    <input type="text" formControlName="userEmail" pInputText />
                    <label htmlFor="userEmail">Email</label>
                    <input hidden value="1" formControlName="roleId" />
                </span>
            </div>
        </div>
        <form [formGroup]="addressDetails">
            <div class="row w-100 justify-content-start">
                <div class="col-7">
                    <div class="form-floating">
                        <input class="form-control text-gray-800 " placeholder="PINCODE" formControlName="Pincode"
                            inputId="integeronly" />
                        <label class="text-gray-800" for="floatingPassword">PINCODE</label>
                    </div>
                </div>
                <div class="col-5">
                    <p-button label="Find City" (onClick)="findCity(Pincode.value)"
                        styleClass="p-button-outlined p-button-success h-4rem w-7rem"></p-button>
                </div>
            </div>
            <div class="row w-100 justify-content-center">
                <div class="col-6">
                    <span class="col-md-6 col-sm-12 mt-2">
                        <input type="text" formControlName="CircleName" pInputText class="w-100" />
                        <label htmlFor="number-input">Circle Name</label>
                    </span>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <span class="p-float-label">
                        <input type="text" formControlName="RegionName" pInputText class="w-100" />
                        <label htmlFor="number-input">Region Name</label>
                    </span>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <span class="p-float-label">
                        <input type="text" formControlName="DivisionName" pInputText class="w-100" />
                        <label htmlFor="number-input">Division Name</label>
                    </span>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <div class="card flex justify-content-start">
                        <select id="" (click)="setAddress()" aria-placeholder="Office Name" formControlName="OfficeName"
                            class="form-control">
                            <option value="" disabled>Select Office</option>
                            <option *ngFor="let office of citiesData" [value]="office.id">{{office.officeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row w-100 mt-3 justify-content-start">
                    <div class="col-md-6 col-sm-12 mt-2">
                        <span class="p-float-label">
                            <input type="text" formControlName="DistrictName" pInputText class="w-100" />
                            <label htmlFor="number-input">District Name</label>
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <span class="p-float-label">
                            <input type="text" formControlName="StateName" pInputText class="w-100" />
                            <label htmlFor="number-input">State Name</label>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <div class="row w-100 mt-3 justify-content-center">
            <div class="col-6">
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <input type="text" hidden formControlName="img" class="w-100" />
            </div>
            <div class="col-6" [hidden]="showImg">
                <h4>Selected Image</h4>
                <img [src]="imgPath" alt="profile pic" style="width: 60px; height:40px ;">
            </div>
            <button type="submit" label="Submit" class="btn btn-info col-8 text-center">Submit</button>
        </div>

    </form>
</div>