
<div class="container-fluid home">
    <div class="row h-20rem justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12 text-center ">
            <h3 class="col-12 text-white font-bold text-center">Get Your Dream Car Today</h3>
            <p-button label="Show All Cars" styleClass="p-button-warning p-button-text"></p-button>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <h3 class="col-12 text-white font-bold text-center">Get Your Dream Car Today</h3>
            <h3 class="col-12 text-white font-bold">Get Your Dream Car Today</h3>
        </div>
    </div>

</div>